<div class="container-md my-5">
    <h1 class="d-flex flex-row justify-content-center bg-primary text-white">Dati Cliente {{editClienti.nomeContatto}} {{editClienti.cognomeContatto}}</h1>
    <form class="row g-3 my-5 bg-light">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nome</label>
            <input type="text" name="nome" [(ngModel)]="editClienti.nomeContatto"  class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Cognome</label>
            <input type="text" name="cognome" [(ngModel)]="editClienti.cognomeContatto" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Ragione Sociale</label>
            <input type="text" name="ragione sociale" [(ngModel)]="editClienti.ragioneSociale" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Partita Iva</label>
            <input type="text" name="Partita Iva" [(ngModel)]="editClienti.partitaIva"  class="form-control">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Email</label>
            <input type="text" name="email" [(ngModel)]="editClienti.email" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">PEC</label>
            <input type="text" name="pec" [(ngModel)]="editClienti.pec" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Telefono</label>
            <input type="text" name="telefono" class="form-control" [(ngModel)]="editClienti.telefono" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <h1 class="d-flex justify-content-center bg-primary text-white">Recapiti Contatto</h1>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Email</label>
            <input type="text" name="email contatto" nomclass="form-control" [(ngModel)]="editClienti.emailContatto">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Telefono</label>
            <input type="text" name="telefono contatto" class="form-control" [(ngModel)]="editClienti.telefonoContatto">
        </div>
        <div class="col-12 my-3">
            <h1 class="d-flex justify-content-center bg-primary text-white">Indirizzo Sede Operativa</h1>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label" >Via</label>
            <input type="text" name="via" class="form-control" [(ngModel)]="editClienti.indirizzoSedeOperativa.via">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Civico</label>
            <input type="text" name="civico" class="form-control" [(ngModel)]="editClienti.indirizzoSedeOperativa.civico">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Cap</label>
            <input type="text" name="cap" class="form-control" [(ngModel)]="editClienti.indirizzoSedeOperativa.cap">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Località</label>
            <input type="text" name="localita" class="form-control" [(ngModel)]="editClienti.indirizzoSedeOperativa.localita">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Comune</label>
            <input type="text" name="comune" class="form-control" [(ngModel)]="editClienti.indirizzoSedeOperativa.comune.nome">
        </div>
        <div class="col-12 my-3">
            <h1 class="d-flex justify-content-center bg-primary text-white">Indirizzo Sede Legale</h1>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Via</label>
            <input type="text" name="via" class="form-control" [(ngModel)]="editClienti.indirizzoSedeLegale.via">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Civico</label>
            <input type="text" name="civico" class="form-control"[(ngModel)]="editClienti.indirizzoSedeLegale.civico">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Cap</label>
            <input type="cap" name="cap" class="form-control" [(ngModel)]="editClienti.indirizzoSedeLegale.cap">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Località</label>
            <input type="text"  name="localita" class="form-control" [(ngModel)]="editClienti.indirizzoSedeLegale.localita">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Comune</label>
            <input type="text" nome="comune" class="form-control" id="inputAddress" placeholder="1234 Main St" [(ngModel)]="editClienti.indirizzoSedeLegale.comune.nome">
        </div>
        <div class="col-12 my-3">
            <h1 class="d-flex justify-content-center bg-primary text-white">Data:</h1>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Data Inserimento</label>
            <input type="text" name="data inserimento" class="form-control"[(ngModel)]="editClienti.dataInserimento">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Data Ultimo Contatto</label>
            <input type="text" name="data ultimo contatto" [(ngModel)]="editClienti.dataUltimoContatto">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Fatturato Annuale</label>
            <input type="text" class="form-control" name="fattura annuale" id="inputAddress" placeholder="1234 Main St" [(ngModel)]="editClienti.fatturatoAnnuale">
        </div>
        <div class="container d-flex flex-row justify-content-center my-4">
            <button type="submit" class="btn btn-primary " (click)="saveClienti()">Salva Modifiche</button>
        </div>

  

