<div class="container-md my-5">
    <h1 class="d-flex flex-row justify-content-center bg-primary text-white">Dati Cliente {{detailClienti.nomeContatto}} {{detailClienti.cognomeContatto}}</h1>
    <form class="row g-3 my-5 bg-light">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Nome</label>
            <input type="nome" [(ngModel)]="detailClienti.ragioneSociale"  class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Cognome</label>
            <input type="cognome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Ragione Sociale</label>
            <input type="nome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Partita Iva</label>
            <input type="cognome" class="form-control">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Email</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">PEC</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12">
            <h1 class="d-flex justify-content-center bg-primary text-white">Recapiti Contatto</h1>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Email</label>
            <input type="cognome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Telefono</label>
            <input type="nome" class="form-control">
        </div>
        <div class="col-12 my-3">
            <h1 class="d-flex justify-content-center bg-primary text-white">Indirizzo Sede Operativa</h1>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Via</label>
            <input type="cognome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Civico</label>
            <input type="nome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Cap</label>
            <input type="cognome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Località</label>
            <input type="nome" class="form-control">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Comune</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12 my-3">
            <h1 class="d-flex justify-content-center bg-primary text-white">Indirizzo Sede Legale</h1>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Via</label>
            <input type="cognome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Civico</label>
            <input type="nome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Cap</label>
            <input type="cognome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Località</label>
            <input type="nome" class="form-control">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Comune</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-12 my-3">
            <h1 class="d-flex justify-content-center bg-primary text-white">Data:</h1>
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Data Inserimento</label>
            <input type="cognome" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Data Ultimo Contatto</label>
            <input type="nome" class="form-control">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Fattura Annuale</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>