<div class="container my-5">
<table class="table table-bordered bg-light">
    <thead>
      <tr>
        <th scope="col" colspan="4" class="text-center display-5 my-3"><b>Dati Cliente</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Ragione Sociale:</th>
        <td>{{detailClienti.ragioneSociale}}</td>
        <th scope="row">Partita Iva:</th>
        <td>{{detailClienti.partitaIva}}</td>
      </tr>
      <tr>
        <th scope="row">Tipo Cliente:</th>
        <td>{{detailClienti.tipoCliente}}</td>
        <th scope="row">Email:</th>
        <td>{{detailClienti.email}}</td>
    </tr>
    <tr>
        <th scope="row">Pec:</th>
        <td>{{detailClienti.pec}}</td>
        <th scope="row">Telefono:</th>
        <td>{{detailClienti.telefono}}</td>
    </tr>
    <tr>
        <th scope="row">Data Inserimento:</th>
        <td>{{detailClienti.dataInserimento}}</td>
        <th scope="row">Data Ultimo Contatto:</th>
        <td>{{detailClienti.dataUltimoContatto}}</td>
    </tr>
    <tr>
        <th scope="row">Fatturato Annuale:</th>
        <td>{{detailClienti.fatturatoAnnuale}}</td>
        <th scope="row"></th>
        <td></td>
    </tr>
    <th scope="col" colspan="4" class="text-center display-5 my-3"><b>Dati Contatto</b></th>
    <tr>
        <th scope="row">Nome:</th>
        <td>{{detailClienti.nomeContatto}}</td>
        <th scope="row">Cognome:</th>
        <td>{{detailClienti.cognomeContatto}}</td>
    </tr>
    <tr>
        <th scope="row">Telefono:</th>
        <td>{{detailClienti.telefonoContatto}}</td>
        <th scope="row">Email:</th>
        <td>{{detailClienti.emailContatto}}</td>
    </tr>
    <th scope="col" colspan="4" class="text-center display-5 my-3"><b>Indirizzo Sede Operativa</b></th>
    <tr>
        <th scope="row">Via:</th>
        <td>{{detailClienti.indirizzoSedeOperativa.via}}</td>
        <th scope="row">Civico:</th>
        <td>{{detailClienti.indirizzoSedeOperativa.civico}}</td>
        </tr>
        <tr>
        <th scope="row">Cap:</th>
        <td>{{detailClienti.indirizzoSedeOperativa.cap}}</td>
        <th scope="row">Località:</th>
        <td>{{detailClienti.indirizzoSedeOperativa.localita}}</td>
    </tr>
    <th scope="col" colspan="4" class="text-center display-5 my-3"><b>Indirizzo Sede Legale</b></th>
    <tr>
        <th scope="row">Via:</th>
        <td>{{detailClienti.indirizzoSedeLegale.via}}</td>
        <th scope="row">Civico:</th>
        <td>{{detailClienti.indirizzoSedeLegale.civico}}</td>
        </tr>
        <tr>
        <th scope="row">Cap:</th>
        <td>{{detailClienti.indirizzoSedeLegale.cap}}</td>
        <th scope="row">Località:</th>
        <td>{{detailClienti.indirizzoSedeLegale.localita}}</td>
    </tr>
    </tbody>
  </table>
</div>